<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование товара</title>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
<h2 style="color: #016ABC">Редактирование товара</h2>
<form th:method="POST" th:action="@{/admin/product/edit/{id}(id=${product.getId()})}" th:object="${product}" enctype="multipart/form-data">
    <label for="title"><span>Введите наименование товара: </span></label><br>
    <input type="text" class="type-1" th:field="*{title}" placeholder="Наименование" id="title">
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    <br>
    <br>
    <label for="description"><span>Введите описание товара: </span></label><br>
    <textarea th:field="*{description}" placeholder="Описание" id="description"></textarea>
    <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    <br>
    <br>
    <label for="price"><span>Введите цену товара: </span></label><br>
    <input type="number" class="type-1" th:field="*{price}" min="1" step="0.00" placeholder="Цена" id="price">
    <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
    <br>
    <br>
    <label for="warehouse"><span>Введите cклад, на котором расположен товар: </span></label><br>
    <input type="text" class="type-1"th:field="*{warehouse}" placeholder="Cклад" id="warehouse">
    <div style="color: red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>
    <br>
    <br>
    <label for="category"><span>Выберите категорию товара: </span></label><br>
    <select name="category" class="select" th:field="*{category}" id="category">
        <div class="options" th:each="element : ${category}">
            <option th:text="${element.getName()}" th:value="${element.getId()}">
        </div>
    </select>
    <div style="color: red" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
    <br>
    <br>
    <label for="seller"><span>Введите данные о продавце: </span></label><br>
    <textarea th:field="*{seller}" placeholder="Продавец" id="seller"></textarea>
    <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>
    <br>
    <br>
    <input type="submit" class="form-submit-button" value="Редактировать">
</form>
</body>
</html>